@using System.Security.Claims
@model NewsCreateViewModel

<form action="Edit" method="post">
    <div class="d-flex justify-content-center align-items-center mb-5" style="color: black;">
        <div class="col-9 bg-white p-4 rounded shadow-sm">
            <h1>Haber Düzenle</h1>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="NewsId">

            <div class="mb-3">
                <label asp-for="Title" class="form-label"></label>
                <input asp-for="Title" class="form-control">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Description" class="form-label"></label>
                <input asp-for="Description" class="form-control">
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Content" class="form-label"></label>
                <textarea asp-for="Content" class="form-control"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>

            <div class="form-check mb-3">
                <input asp-for="IsActive" class="form-check-input">
                <label asp-for="IsActive" class="form-check-label">Active</label>
            </div>

            <button type="submit" class="btn btn-primary">Kaydet</button>
        </div>
    </div>
</form>

@section Scripts {
<script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/7.6.0/tinymce.min.js"
    integrity="sha512-/4EpSbZW47rO/cUIb0AMRs/xWwE8pyOLf8eiDWQ6sQash5RP1Cl8Zi2aqa4QEufjeqnzTK8CLZWX7J5ZjLcc1Q=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    tinymce.init({
        selector: '#Content'
    });
</script>
}
