@using System.Security.Claims
@model HistoryCreateViewModel

<form action="Edit" method="post">
    <div class="row d-flex justify-content-center" style="color: black;">
        <div class="col-lg-9">
            <div class="bg-white p-4 shadow-sm rounded">
                <h1 class="mb-4">Post Edit</h1>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <input type="hidden" asp-for="HistoryId">

                <div class="mb-3">
                    <label asp-for="Title" class="form-label">Title</label>
                    <input asp-for="Title" class="form-control">
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Description" class="form-label">Description</label>
                    <input asp-for="Description" class="form-control">
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Content" class="form-label">Content</label>
                    <textarea asp-for="Content" class="form-control"></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>

                <div class="form-check mb-3">
                    <input asp-for="IsActive" class="form-check-input">
                    <label asp-for="IsActive" class="form-check-label">Active</label>
                </div>

                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</form>

@section Scripts {
<script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/7.6.0/tinymce.min.js"
    integrity="sha512-/4EpSbZW47rO/cUIb0AMRs/xWwE8pyOLf8eiDWQ6sQash5RP1Cl8Zi2aqa4QEufjeqnzTK8CLZWX7J5ZjLcc1Q=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    tinymce.init({
        selector: '#Content'
    });
</script>
}
